{
  "openapi": "3.1.1",
  "info": {
    "title": "Assured Platform API",
    "description": "<html>\n  <head>\n    <title>Assured Platform API Documentation</title>\n  </head>\n  <body>\n    <h1>Welcome to the Assured Platform API</h1>\n    <p>This API documentation provides all necessary information for developers to integrate with the Assured platform.</p>\n    <p>Assured is designed with an API-first approach, meaning APIs are designed and developed first, with user interfaces built on top. This makes the APIs reusable, robust, and easy to integrate for third-party developers.</p>\n    <p>Please note that the API and platform are under active development and subject to significant changes, including breaking changes. Refer to this documentation regularly for the most up-to-date information.</p>\n  </body>\n  <body>\n    <h1>API Key Authentication</h1>\n    <p><b>Use your account API key to authenticate. If you don't have an API key, get in touch with us by reaching out to support@withassured.com.</b></p>\n    <p>Add the API key to the header of your requests.</p>\n    headers: {'x-api-key': 'YOUR_SECRET_TOKEN'}\n  </body>\n</html>\n",
    "version": "1.0.0",
    "contact": {
      "name": "Assured Support",
      "email": "help@withassured.com",
      "url": "https://www.withassured.com"
    }
  },
  "servers": [
    {
      "url": "https://prod-backend.withassured.com",
      "description": "Production Environment"
    },
    {
      "url": "https://staging-backend.withassured.com",
      "description": "Staging Environment"
    },
    {
      "url": "https://demo-backend-ecs.withassured.com",
      "description": "Demo Environment"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Endpoints for account management, specifically Changing password"
    },
    {
      "name": "Users",
      "description": "Endpoints related to Users"
    },
    {
      "name": "Providers",
      "description": "Endpoints related to provider management and provider invitations"
    },
    {
      "name": "Provider Profile",
      "description": "Endpoints for provider profile management"
    },
    {
      "name": "Expirables",
      "description": "Endpoints for expirables management"
    },
    {
      "name": "Credentialing",
      "description": "Endpoints for managing credentialing requests and statuses"
    },
    {
      "name": "Monitoring",
      "description": "Endpoints for managing monitoring requests and statuses"
    },
    {
      "name": "Tasks",
      "description": "Endpoints for task management, specifically Expirables"
    },
    {
      "name": "Practice Locations",
      "description": "Endpoints for practice locations"
    },
    {
      "name": "Tax Entities",
      "description": "Endpoints for tax entities"
    },
    {
      "name": "Facilities",
      "description": "Endpoints for Facilities"
    },
    {
      "name": "Enrollment Requests",
      "description": "Endpoints for Payer Enrollments"
    },
    {
      "name": "Active Enrollments",
      "description": "Endpoints for Payer Enrollments"
    }
  ],
  "paths": {
    "/api/v1/users/login/": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "User login",
        "description": "Handle POST request. Authenticates a user with email and password and returns JWT tokens along with user and account details.",
        "operationId": "userLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "examples": [
                            "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                          ]
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "examples": [
                            "user@example.com"
                          ]
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "user_type": {
                          "type": "string",
                          "examples": [
                            "client_admin"
                          ]
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "jwt": {
                          "type": "object",
                          "properties": {
                            "refresh": {
                              "type": "string"
                            },
                            "access": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string"
                    },
                    "extra_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "examples": [
                            "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                          ]
                        },
                        "client_exists": {
                          "type": "boolean"
                        },
                        "client_details": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "examples": [
                                "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "account_details_completed_by_admin": {
                              "type": "boolean"
                            },
                            "authenticator_mfa_enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "tax_entity_exists": {
                          "type": "boolean"
                        },
                        "provider_profile_id": {
                          "type": "string",
                          "format": "uuid",
                          "examples": [
                            "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                          ]
                        },
                        "min_profile_completed": {
                          "type": "boolean",
                          "examples": [
                            false
                          ]
                        },
                        "caqh_account_exists": {
                          "type": "boolean",
                          "examples": [
                            false
                          ]
                        },
                        "user_associated_features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/change-password/": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change user password",
        "description": "Changes user password by taking old password, new password and confirming new password",
        "operationId": "changePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "old_password": {
                    "type": "string",
                    "examples": [
                      "currentPassword123"
                    ]
                  },
                  "new_password": {
                    "type": "string",
                    "examples": [
                      "newPassword456"
                    ]
                  },
                  "confirm_new_password": {
                    "type": "string",
                    "examples": [
                      "newPassword456"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "Password changed successfully."
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/user-list-slim/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "View for Users List",
        "description": "Retrieves a paginated list of users with optional filters.",
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "description": "client",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_in",
            "in": "query",
            "description": "id_in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_unverified",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "provider_profile__ready_for_credentialing",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_type",
            "in": "query",
            "description": "Filter users by their user type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "bot_agent",
                "caqh_auditor",
                "caqh_verifier",
                "client_admin",
                "csm",
                "external_oa",
                "external_supervisor",
                "feature_admin",
                "followup_agent",
                "gen_pdf_agent",
                "internal",
                "licensing_admin",
                "location_admin",
                "oa",
                "privilege_admin",
                "provider",
                "superadmin",
                "swagger_user",
                "system"
              ]
            }
          },
          {
            "name": "user_type_in",
            "in": "query",
            "description": "user_type_in",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of users (slim).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of users."
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, if available."
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, if available."
                    },
                    "results": {
                      "type": "array",
                      "description": "A list of slim user objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "user_type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/logged-in-user-details/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Logged In User details",
        "description": "Handle GET request. Returns details of the currently authenticated user.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Logged In User details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "middle_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "user_type": {
                      "type": "string",
                      "enum": [
                        "client_admin",
                        "provider",
                        "external_oa",
                        "location_admin",
                        "privilege_admin"
                      ]
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "provider_profile": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "public_email": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "email"
                        },
                        "nucc_grouping": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "provider_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "practice_setting": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "primary_practice_state": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Two-letter US state abbreviation."
                        },
                        "full_name": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "middle_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "suffix": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "home_street_address_1": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "home_street_address_2": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "home_city": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "home_state": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Two-letter US state abbreviation."
                        },
                        "home_zip_code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "primary_email_address": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "email"
                        },
                        "primary_phone": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "individual_npi": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "caqh_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "gender": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "Male",
                            "Female",
                            "Other"
                          ]
                        },
                        "birth_date": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date"
                        },
                        "us_citizen": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "birth_city": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "birth_state": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "birth_country": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "race": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "county": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "languages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "provider_role": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "degree_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "additional_practice_states": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "management_type": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "PROVIDER_MANAGED",
                            "ADMIN_MANAGED"
                          ]
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "last_caqh_attestation_date": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date"
                        },
                        "nucc_taxonomy_code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "specialization": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "nucc_classification": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "extra_data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "client_exists": {
                          "type": "boolean"
                        },
                        "client_details": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            },
                            "account_details_completed_by_admin": {
                              "type": "boolean"
                            }
                          }
                        },
                        "mfa_config": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "mfa_setup_completed": {
                              "type": "boolean"
                            },
                            "authenticator_mfa_enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "provider_ongoing_monitoring_enabled": {
                          "type": "boolean"
                        },
                        "provider_credentialing_enabled": {
                          "type": "boolean"
                        },
                        "facility_credentialing_enabled": {
                          "type": "boolean"
                        },
                        "facility_monitoring_enabled": {
                          "type": "boolean"
                        },
                        "payor_enrollment_enabled": {
                          "type": "boolean"
                        },
                        "authenticator_mfa_enabled": {
                          "type": "boolean"
                        },
                        "roster_management_enabled": {
                          "type": "boolean"
                        },
                        "licensing_enabled": {
                          "type": "boolean"
                        },
                        "caqh_supported": {
                          "type": "boolean"
                        },
                        "tax_entity_exists": {
                          "type": "boolean"
                        },
                        "provider_profile_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "min_profile_completed": {
                          "type": "boolean"
                        },
                        "caqh_account_exists": {
                          "type": "boolean"
                        },
                        "credentialing_team_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "monitoring_team_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "create_initial_work_history_for_provider": {
                          "type": "boolean"
                        },
                        "bulk_enrollment_enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "provider_profile_completion_info": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "completion_percent": {
                          "type": "number",
                          "format": "float",
                          "description": "Profile completion percentage."
                        },
                        "other_profile_missing_info": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of missing profile fields."
                        }
                      }
                    },
                    "user_associated_features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of feature flags associated with the user."
                    },
                    "credentialing_readiness_info": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "missing_documents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of missing document type names."
                        },
                        "missing_documents_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total number of missing documents."
                        },
                        "missing_documents_and_provider_type": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "document_type": {
                                "type": "string"
                              },
                              "provider_type": {
                                "type": "string"
                              },
                              "document_generation_handler_func_name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "document_s3_url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          }
                        },
                        "total_required": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total number of required documents."
                        },
                        "total_uploaded": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total number of uploaded documents."
                        },
                        "ready_for_credentialing": {
                          "type": "boolean",
                          "description": "Whether the provider meets minimum credentialing requirements."
                        }
                      }
                    },
                    "assured_user_id": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Assured platform internal user identifier."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/providers-list/": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Retrieve a paginated list of provider accounts",
        "description": "Retrieves a paginated list of provider accounts. Results can be filtered, searched, and ordered using various query parameters.",
        "operationId": "getProvidersList",
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "description": "Filter results by client UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "client_in",
            "in": "query",
            "description": "Filter results by a comma-separated list of client IDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter results by email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Filter results by first name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_in",
            "in": "query",
            "description": "Filter results by a comma-separated list of Provider IDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter results by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Filter results by last name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "npi",
            "in": "query",
            "description": "Filter results by NPI (National Provider Identifier)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Initial index from which to return the results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to use when ordering the results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_completeness",
            "in": "query",
            "description": "Filter results by profile completeness",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term for filtering across multiple fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "examples": [
                        123
                      ]
                    },
                    "next": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=400&limit=100"
                      ]
                    },
                    "previous": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=200&limit=100"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Use this ID for provider wherever required in all APIs except Provider Profile",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "email": {
                            "type": "string",
                            "examples": [
                              "user@example.com"
                            ]
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "middle_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "npi": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "provider_profile_id": {
                            "type": "string",
                            "description": "Use this ID for APIs under Provider Profile module"
                          },
                          "profile_completeness_percentage": {
                            "type": "number"
                          },
                          "is_active": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/users/invite-providers/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Invite Providers",
        "description": "Helper class for Invite Providers.\nSends invitation emails to providers to join the platform.\nMultiple providers can be invited at once.\n",
        "operationId": "inviteProviders",
        "requestBody": {
          "description": "Provider details for invitation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "email",
                    "first_name",
                    "last_name"
                  ],
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "first_name": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    },
                    "last_name": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      }
                    },
                    "primary_practice_location": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "client": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "org_joining_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2026-07-08"
                      ]
                    },
                    "cc_emails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "examples": [
                          "user@example.com"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite Providers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      },
                      "email": {
                        "type": "string",
                        "examples": [
                          "string"
                        ]
                      },
                      "first_name": {
                        "type": "string",
                        "examples": [
                          "string"
                        ]
                      },
                      "last_name": {
                        "type": "string",
                        "examples": [
                          "string"
                        ]
                      },
                      "provider_practice_locations": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "examples": [
                            "string"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/request-caqh-import/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Request CAQH Import",
        "description": "View for CAQHImport Request.\n",
        "operationId": "requestCaqhImport",
        "requestBody": {
          "description": "CAQH credentials and signature for import request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "caqh_username",
                  "caqh_password",
                  "full_name",
                  "signature"
                ],
                "properties": {
                  "caqh_username": {
                    "type": "string",
                    "examples": [
                      "string"
                    ]
                  },
                  "caqh_password": {
                    "type": "string",
                    "examples": [
                      "string"
                    ]
                  },
                  "full_name": {
                    "type": "string",
                    "examples": [
                      "string"
                    ]
                  },
                  "signature": {
                    "type": "string",
                    "examples": [
                      "string"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request CAQH Import response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "examples": [
                        0
                      ]
                    },
                    "caqh_username": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    },
                    "caqh_password": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    },
                    "full_name": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    },
                    "signature": {
                      "type": "string",
                      "examples": [
                        "string"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Retrieve a paginated list of CAQH import requests",
        "description": "View for CAQHImport Request.",
        "operationId": "getCaqhImportRequestsList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Initial index from which to return the results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Filter results by provider UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of CAQH import requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "examples": [
                        123
                      ]
                    },
                    "next": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=400&limit=100"
                      ]
                    },
                    "previous": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=200&limit=100"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "examples": [
                              0
                            ]
                          },
                          "caqh_username": {
                            "type": "string",
                            "examples": [
                              "string"
                            ]
                          },
                          "caqh_password": {
                            "type": "string",
                            "examples": [
                              "string"
                            ]
                          },
                          "full_name": {
                            "type": "string",
                            "examples": [
                              "string"
                            ]
                          },
                          "signature": {
                            "type": "string",
                            "examples": [
                              "string"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/users/import-single-provider-with-caqh/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Import Single Provider with CAQH",
        "description": "Imports a single provider using their CAQH credentials.\n",
        "operationId": "importSingleProviderWithCAQH",
        "requestBody": {
          "description": "Provider details and CAQH credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "first_name": {
                    "type": "string",
                    "examples": [
                      "John"
                    ]
                  },
                  "last_name": {
                    "type": "string",
                    "examples": [
                      "Doe"
                    ]
                  },
                  "caqh_username": {
                    "type": "string",
                    "examples": [
                      "caqh_user123"
                    ]
                  },
                  "caqh_password": {
                    "type": "string",
                    "examples": [
                      "password123"
                    ]
                  },
                  "provider_practice_locations": {
                    "type": "array",
                    "description": "Use the get API Retrieve Practice Locations for practice location ID",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    }
                  },
                  "primary_practice_location": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Use the get API Retrieve Practice Locations for practice location ID",
                    "examples": [
                      "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    ]
                  }
                },
                "required": [
                  "email",
                  "caqh_username",
                  "caqh_password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import Single Provider with CAQH response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "first_name": {
                      "type": "string",
                      "examples": [
                        "John"
                      ]
                    },
                    "last_name": {
                      "type": "string",
                      "examples": [
                        "Doe"
                      ]
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      }
                    },
                    "primary_practice_location": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "email"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/users/create-providers/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Create Provider (without CAQH credentials)",
        "description": "Endpoint to create a new provider user in the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "provider_practice_locations": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "primary_practice_location": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "client": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "org_joining_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "document_url": {
                    "type": "string"
                  },
                  "document_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "primary_practice_location": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid"
                    },
                    "client": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "document_url": {
                      "type": "string"
                    },
                    "document_type": {
                      "type": "string"
                    },
                    "source_of_joining": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "FROM_INVITE",
                        "FROM_BULK_PROVIDERS_EXCEL_IMPORT",
                        "FROM_SINGLE_PROVIDER_IMPORT",
                        "FROM_MIGRATION_SCRIPTS",
                        "PROVIDER_CREATE_API",
                        "SINGLE_USER_ADDED_FROM_BACKEND"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "first_name",
                    "last_name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/update-provider-org-joining-date/{id}/": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Retrieve provider organization joining date",
        "description": "Retrieve provider organization joining date.",
        "operationId": "getProviderOrgJoiningDate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved provider organization joining date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "org_joining_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2026-07-16"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Providers"
        ],
        "summary": "Update provider organization joining date",
        "description": "Update provider organization joining date.",
        "operationId": "updateProviderOrgJoiningDate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Organization joining date to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_joining_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2026-07-16"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated provider organization joining date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "org_joining_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2026-07-16"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/users/retrieve-update-provider-ssn-sym-encrypted/{id}/": {
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve encrypted SSN for a specific provider",
        "description": "View for Provider SSN AES Encrypted.",
        "operationId": "getProviderSSNSymEncrypted",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this Provider. You can get provider_profile_id by retrieving list of providers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved provider SSN encrypted record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "ssn": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Partially update encrypted SSN for a specific provider",
        "description": "View for Provider SSN AES Encrypted.",
        "operationId": "partialUpdateProviderSSNSymEncrypted",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this Provider. You can get provider_profile_id by retrieving list of providers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ssn": {
                    "type": "string"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "ssn": {
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ssn": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated provider SSN encrypted record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "ssn": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-personal-info/{id}/": {
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve personal information for a specific provider",
        "description": "ViewSet for Provider Personal Info. Returns detailed personal information for a provider identified by their UUID.",
        "operationId": "getProviderPersonalInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this Personal Information. You can get provider_profile_id by retrieving list of providers.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved provider personal information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "middle_name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "suffix": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "gender": {
                      "type": "string",
                      "enum": [
                        "Male",
                        "Female",
                        "Other",
                        "Unknown",
                        "Non-binary/third gender",
                        "I use another term",
                        "Prefer not to say"
                      ]
                    },
                    "birth_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2026-04-16"
                      ]
                    },
                    "birth_city": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "birth_state": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "birth_country": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "race": {
                      "type": "string"
                    },
                    "county": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "height_inches": {
                      "type": "integer",
                      "examples": [
                        120
                      ]
                    },
                    "weight_in_lbs": {
                      "type": "integer",
                      "examples": [
                        1102
                      ]
                    },
                    "hair_color": {
                      "type": "string",
                      "enum": [
                        "BALD",
                        "BLACK",
                        "BLOND_OR_STRAWBERRY",
                        "BROWN",
                        "GRAY_OR_PARTIALLY_GRAY",
                        "RED_OR_AUBURN",
                        "SANDY",
                        "WHITE",
                        "UNKNOWN"
                      ],
                      "examples": [
                        "BALD"
                      ]
                    },
                    "eye_color": {
                      "type": "string",
                      "enum": [
                        "BLACK",
                        "BLUE",
                        "BROWN",
                        "GREEN",
                        "GRAY",
                        "HAZEL",
                        "MAROON",
                        "PINK",
                        "UNKNOWN"
                      ],
                      "examples": [
                        "BLACK"
                      ]
                    },
                    "us_citizen": {
                      "type": "boolean"
                    },
                    "citizenship_country": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "examples": [
                        "Afghanistan"
                      ]
                    },
                    "visa_number": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "visa_status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "eligible_to_work_in_us": {
                      "type": "boolean"
                    },
                    "public_email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "primary_email_address": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "personal_email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "business_email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "other_email": {
                      "type": "string",
                      "format": "email",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "primary_phone": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_phone_number": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "fax_number": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_street_address_1": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_street_address_2": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_city": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_state": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "examples": [
                        "AL"
                      ]
                    },
                    "home_zip_code": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "home_country": {
                      "type": "string",
                      "examples": [
                        "Afghanistan"
                      ]
                    },
                    "correspondence_address_same_as_residence": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "correspondence_street_address_1": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "correspondence_street_address_2": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "correspondence_city": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "correspondence_state": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "correspondence_postal_code": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "correspondence_country": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "ssn": {
                      "type": "string"
                    },
                    "individual_npi": {
                      "type": "string"
                    },
                    "upin": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nucc_grouping": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nucc_taxonomy_code": {
                      "type": "string"
                    },
                    "specialization": {
                      "type": "string"
                    },
                    "nucc_classification": {
                      "type": "string"
                    },
                    "provider_type": {
                      "type": "string"
                    },
                    "practice_setting": {
                      "type": "string"
                    },
                    "primary_practice_state": {
                      "type": "string",
                      "examples": [
                        "AL"
                      ]
                    },
                    "provider_role": {
                      "type": "string",
                      "examples": [
                        "Primary Care Physician (PCP)"
                      ]
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "additional_practice_states": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "writeOnly": true,
                      "description": "Write-only field used when updating a provider's additional practice states."
                    },
                    "supervising_or_collaborative_physician_name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "physician_individual_npi": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "caqh_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "last_caqh_attestation_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2026-04-16"
                      ]
                    },
                    "is_ecfmg": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "ecfmg_number": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "ecfmg_issue_date": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date",
                      "examples": [
                        "2026-04-16"
                      ]
                    },
                    "served_military": {
                      "type": "boolean"
                    },
                    "date_of_service_start": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date",
                      "examples": [
                        "2026-04-16"
                      ]
                    },
                    "date_of_service_end": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date",
                      "examples": [
                        "2026-04-16"
                      ]
                    },
                    "last_location_of_service": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "branch_of_service": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "active_or_reserve_duty": {
                      "type": "boolean"
                    },
                    "other_emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "examples": [
                              "user@example.com"
                            ]
                          }
                        }
                      }
                    },
                    "other_names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "middle_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "suffix": {
                            "type": "string"
                          },
                          "from_year": {
                            "type": "integer",
                            "examples": [
                              2147483647
                            ]
                          },
                          "to_year": {
                            "type": "integer",
                            "examples": [
                              2147483647
                            ]
                          },
                          "name_type": {
                            "type": "string",
                            "enum": [
                              "MAIDEN_NAME",
                              "OTHER"
                            ],
                            "examples": [
                              "MAIDEN_NAME"
                            ]
                          }
                        }
                      }
                    },
                    "personal_completion_info": {
                      "type": "object",
                      "properties": {
                        "completion_percent": {
                          "type": "number",
                          "format": "double",
                          "examples": [
                            0
                          ]
                        },
                        "other_profile_missing_info": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "missing_personal_info": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "skipped_sections": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "credentialing_readiness_info": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "management_type": {
                      "type": "string",
                      "enum": [
                        "PROVIDER_MANAGED",
                        "ADMIN_MANAGED"
                      ],
                      "examples": [
                        "PROVIDER_MANAGED"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "examples": [
                        "2026-04-16T12:17:33.593Z"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Partially update personal information for a specific provider",
        "description": "ViewSet for Provider Personal Info. Partially updates personal information for a provider identified by their UUID.",
        "operationId": "partialUpdateProviderPersonalInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this Personal Information.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "middle_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "suffix": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "Male",
                      "Female",
                      "Other",
                      "Unknown",
                      "Non-binary/third gender",
                      "I use another term",
                      "Prefer not to say"
                    ]
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2026-04-16"
                    ]
                  },
                  "birth_city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "birth_state": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "birth_country": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "race": {
                    "type": "string"
                  },
                  "county": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "height_inches": {
                    "type": "integer",
                    "examples": [
                      120
                    ]
                  },
                  "weight_in_lbs": {
                    "type": "integer",
                    "examples": [
                      1102
                    ]
                  },
                  "hair_color": {
                    "type": "string",
                    "enum": [
                      "BALD",
                      "BLACK",
                      "BLOND_OR_STRAWBERRY",
                      "BROWN",
                      "GRAY_OR_PARTIALLY_GRAY",
                      "RED_OR_AUBURN",
                      "SANDY",
                      "WHITE",
                      "UNKNOWN"
                    ],
                    "examples": [
                      "BALD"
                    ]
                  },
                  "eye_color": {
                    "type": "string",
                    "enum": [
                      "BLACK",
                      "BLUE",
                      "BROWN",
                      "GREEN",
                      "GRAY",
                      "HAZEL",
                      "MAROON",
                      "PINK",
                      "UNKNOWN"
                    ],
                    "examples": [
                      "BLACK"
                    ]
                  },
                  "us_citizen": {
                    "type": "boolean"
                  },
                  "citizenship_country": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "examples": [
                      "Afghanistan"
                    ]
                  },
                  "visa_number": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "visa_status": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "eligible_to_work_in_us": {
                    "type": "boolean"
                  },
                  "public_email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "primary_email_address": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "personal_email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "business_email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "other_email": {
                    "type": "string",
                    "format": "email",
                    "examples": [
                      "user@example.com"
                    ]
                  },
[...]
