{
  "openapi": "3.1.1",
  "info": {
    "title": "Assured Platform API",
    "description": "<html>\n  <head>\n    <title>Assured Platform API Documentation</title>\n  </head>\n  <body>\n    <h1>Welcome to the Assured Platform API</h1>\n    <p>This API documentation provides all necessary information for developers to integrate with the Assured platform.</p>\n    <p>Assured is designed with an API-first approach, meaning APIs are designed and developed first, with user interfaces built on top. This makes the APIs reusable, robust, and easy to integrate for third-party developers.</p>\n    <p>Please note that the API and platform are under active development and subject to significant changes, including breaking changes. Refer to this documentation regularly for the most up-to-date information.</p>\n  </body>\n  <body>\n    <h1>API Key Authentication</h1>\n    <p><b>Use your account API key to authenticate. If you don't have an API key, get in touch with us by reaching out to support@withassured.com.</b></p>\n    <p>Add the API key to the header of your requests.</p>\n    headers: {'x-api-key': 'YOUR_SECRET_TOKEN'}\n  </body>\n</html>\n",
    "version": "1.0.0",
    "contact": {
      "name": "Assured Support",
      "email": "help@withassured.com",
      "url": "https://www.withassured.com"
    }
  },
  "servers": [
    {
      "url": "https://prod-backend.withassured.com",
      "description": "Production Environment"
    },
    {
      "url": "https://staging-backend.withassured.com",
      "description": "Staging Environment"
    },
    {
      "url": "https://demo-backend.withassured.com",
      "description": "Demo Environment"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Endpoints related to Users"
    },
    {
      "name": "Providers",
      "description": "Endpoints related to provider management and provider invitations"
    },
    {
      "name": "Provider Profile",
      "description": "Endpoints for provider profile management, specifically Expirables"
    },
    {
      "name": "Credentialing",
      "description": "Endpoints for managing credentialing requests and statuses"
    },
    {
      "name": "Tasks",
      "description": "Endpoints for task management, specifically Expirables"
    },
    {
      "name": "Practice Locations",
      "description": "Endpoints for practice locations"
    },
    {
      "name": "Tax Entities",
      "description": "Endpoints for tax entities"
    },
    {
      "name": "Account",
      "description": "Endpoints for account management, specifically Changing password"
    },
    {
      "name": "Facilities",
      "description": "Endpoints for Facilities"
    },
    {
      "name": "Enrollment Requests",
      "description": "Endpoints for Payer Enrollments"
    },
    {
      "name": "Active Enrollments",
      "description": "Endpoints for Payer Enrollments"
    },
    {
      "name": "Hospital Affiliations",
      "description": "Endpoints for Provider Hospital Affiliations"
    }
  ],
  "paths": {
    "/api/v1/users/users-list/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve a paginated list of users",
        "description": "Retrieves a list of users with optional filters and pagination.",
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter users by active status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_profile__ready_for_credentialing",
            "in": "query",
            "description": "Filter users by provider profile ready for credentialing status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_type",
            "in": "query",
            "description": "Filter users by their user type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "client_admin",
                "provider",
                "external_oa",
                "location_admin",
                "privilege_admin"
              ]
            }
          },
          {
            "name": "users_deactivated",
            "in": "query",
            "description": "Filter users by deactivated status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "users_invited",
            "in": "query",
            "description": "Filter users by invited status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of users."
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, if available."
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, if available."
                    },
                    "results": {
                      "type": "array",
                      "description": "A list of user objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "user_type": {
                            "type": "string"
                          },
                          "date_joined": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email_verified_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "activated_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "deactivated_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/providers-list/": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Retrieve a paginated list of provider accounts",
        "description": "Retrieves a paginated list of provider accounts. Results can be filtered, searched, and ordered using various query parameters.",
        "operationId": "getProvidersList",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter results by email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Filter results by first name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_in",
            "in": "query",
            "description": "Filter results by a comma-separated list of Provider IDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Filter results by last name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "npi",
            "in": "query",
            "description": "Filter results by NPI (National Provider Identifier)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Initial index from which to return the results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to use when ordering the results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_completeness",
            "in": "query",
            "description": "Filter results by profile completeness",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term for filtering across multiple fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "examples": [
                        123
                      ]
                    },
                    "next": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=400&limit=100"
                      ]
                    },
                    "previous": {
                      "type": "string",
                      "examples": [
                        "http://api.example.org/accounts/?offset=200&limit=100"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Use this ID for provider wherever required in all APIs except Provider Profile",
                            "examples": [
                              "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                            ]
                          },
                          "email": {
                            "type": "string",
                            "examples": [
                              "user@example.com"
                            ]
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "middle_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "npi": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "provider_profile_id": {
                            "type": "string",
                            "description": "Use this ID for APIs under Provider Profile module"
                          },
                          "profile_completeness_percentage": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/users/invite-providers/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Invite Providers",
        "description": "Sends invitation emails to providers to join the platform.\nMultiple providers can be invited at once.\n",
        "operationId": "inviteProviders",
        "requestBody": {
          "description": "Provider details for invitation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "first_name": {
                      "type": "string",
                      "examples": [
                        "John"
                      ]
                    },
                    "last_name": {
                      "type": "string",
                      "examples": [
                        "Doe"
                      ]
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      }
                    },
                    "client": {
                      "type": "string",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "org_joining_date": {
                      "type": "string",
                      "format": "date",
                      "examples": [
                        "2025-11-27"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite Providers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      },
                      "email": {
                        "type": "string",
                        "examples": [
                          "user@example.com"
                        ]
                      },
                      "first_name": {
                        "type": "string",
                        "examples": [
                          "John"
                        ]
                      },
                      "last_name": {
                        "type": "string",
                        "examples": [
                          "Doe"
                        ]
                      },
                      "provider_practice_locations": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "examples": [
                            "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/import-single-provider-with-caqh/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Import Single Provider with CAQH",
        "description": "Imports a single provider using their CAQH credentials.\n",
        "operationId": "importSingleProviderWithCAQH",
        "requestBody": {
          "description": "Provider details and CAQH credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "examples": [
                      "user@example.com"
                    ]
                  },
                  "first_name": {
                    "type": "string",
                    "examples": [
                      "John"
                    ]
                  },
                  "last_name": {
                    "type": "string",
                    "examples": [
                      "Doe"
                    ]
                  },
                  "caqh_username": {
                    "type": "string",
                    "examples": [
                      "caqh_user123"
                    ]
                  },
                  "caqh_password": {
                    "type": "string",
                    "examples": [
                      "password123"
                    ]
                  },
                  "provider_practice_locations": {
                    "type": "array",
                    "description": "Use the get API Retrieve Practice Locations for practice location ID",
                    "items": {
                      "type": "string",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import Single Provider with CAQH response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      ]
                    },
                    "email": {
                      "type": "string",
                      "examples": [
                        "user@example.com"
                      ]
                    },
                    "first_name": {
                      "type": "string",
                      "examples": [
                        "John"
                      ]
                    },
                    "last_name": {
                      "type": "string",
                      "examples": [
                        "Doe"
                      ]
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "examples": [
                          "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/users/create-providers/": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Create Provider (without CAQH credentials)",
        "description": "Endpoint to create a new provider user in the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "provider_practice_locations": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "client": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "org_joining_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "document_url": {
                    "type": "string"
                  },
                  "document_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "provider_practice_locations": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "client": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "document_url": {
                      "type": "string"
                    },
                    "document_type": {
                      "type": "string"
                    },
                    "source_of_joining": {
                      "type": "string",
                      "enum": [
                        "FROM_INVITE"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/task-management/expirables/": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Retrieve expirable tasks",
        "description": "Retrieve a list of expirable tasks with optional filters.\n",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Filter by archived status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "description": "Assignee ID for filtering.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "client_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated client IDs for filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "required": false,
            "description": "Filter tasks created after the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "required": false,
            "description": "Filter tasks created before the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "due_on_after",
            "in": "query",
            "required": false,
            "description": "Filter tasks with due dates after the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "due_on_before",
            "in": "query",
            "required": false,
            "description": "Filter tasks with due dates before the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Initial index for paginated results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "Field to use for ordering results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_after",
            "in": "query",
            "required": false,
            "description": "Filter tasks updated after the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_before",
            "in": "query",
            "required": false,
            "description": "Filter tasks updated before the specified date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expirable tasks response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "due_on": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_updated_by_name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "assignee": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "assignee_name": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "client_details": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/credentialing/create-credentialing-request/": {
      "post": {
        "tags": [
          "Credentialing"
        ],
        "summary": "Create Credentialing Request",
        "description": "Endpoint to create a new credentialing request for a provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique provider ID. Get Provider ID \"id\" by retrieving a paginated list of provider accounts"
                  },
                  "credentialing_type": {
                    "type": "string",
                    "enum": [
                      "INITIAL_CREDENTIALING"
                    ]
                  },
                  "state_codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credentialing request successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING"
                      ]
                    },
                    "credentialing_type": {
                      "type": "string",
                      "enum": [
                        "INITIAL_CREDENTIALING"
                      ]
                    },
                    "state_codes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "requested_by": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/credentialing/request-detail/{id}/": {
      "get": {
        "tags": [
          "Credentialing"
        ],
        "summary": "Get Credentialing Request Status",
        "description": "Returns the status of a credentialing request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique credentialing request ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing credentialing request status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "provider_details": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "user_type": {
                          "type": "string",
                          "enum": [
                            "client_admin",
                            "other"
                          ]
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "provider_profile_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "individual_npi": {
                          "type": "string"
                        },
                        "provider_type": {
                          "type": "string"
                        }
                      }
                    },
                    "client_details": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        },
                        "sop_file": {
                          "type": "string"
                        }
                      }
                    },
                    "state_codes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "assignee": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "credentialing_type": {
                      "type": "string",
                      "enum": [
                        "INITIAL_CREDENTIALING",
                        "OTHER"
                      ]
                    },
                    "request_completed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "oa_completed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "automation_status": {
                      "type": "string",
                      "enum": [
                        "STARTED",
                        "COMPLETED"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "APPROVED"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "attestation_url": {
                      "type": "string"
                    },
                    "attestation_url_presigned": {
                      "type": "string"
                    },
                    "request_type": {
                      "type": "string",
                      "enum": [
                        "CREDENTIALING",
                        "OTHER"
                      ]
                    },
                    "verifier_signed_off": {
                      "type": "boolean"
                    },
                    "is_signoff_allowed": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "boolean"
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/credentialing/request-list/": {
      "get": {
        "tags": [
          "Credentialing"
        ],
        "summary": "Retrieve a list of credentialing requests",
        "description": "API endpoint to list credentialing requests with extensive filter options.",
        "parameters": [
          {
            "name": "assigned_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "assigned_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "assignee_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "automation_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FAILED",
                "FINISHED",
                "SKIPPED",
                "STARTED"
              ]
            }
          },
          {
            "name": "client_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credentialing_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INITIAL_CREDENTIALING",
                "RE_CREDENTIALING"
              ]
            }
          },
          {
            "name": "individual_npis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "oa_completed_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "oa_completed_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Get Provider ID \"id\" by retrieving a paginated list of provider accounts",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_completed_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "request_completed_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "request_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CREDENTIALING",
                "ONGOING_MONITORING"
              ]
            }
          },
          {
            "name": "requested_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "requested_by_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state_codes_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "CANCELLED",
                "IN_PROGRESS",
                "CLEAR",
                "CONCERN",
                "SUCCESSFUL_REQUEST",
                "TERMINATE"
              ]
            }
          },
          {
            "name": "status_in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tab",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "verifier_signed_off",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of credentialing requests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "provider_details": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "user_type": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              },
                              "provider_profile_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "individual_npi": {
                                "type": "string"
                              },
                              "provider_type": {
                                "type": "string"
                              }
                            }
                          },
                          "client_details": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "sop_file": {
                                "type": "string"
                              }
                            }
                          },
                          "state_codes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "assignee": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "credentialing_type": {
                            "type": "string"
                          },
                          "request_completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "oa_completed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "automation_status": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "request_id": {
                            "type": "string"
                          },
                          "attestation_url": {
                            "type": "string"
                          },
                          "attestation_url_presigned": {
                            "type": "string"
                          },
                          "request_type": {
                            "type": "string"
                          },
                          "verifier_signed_off": {
                            "type": "boolean"
                          },
                          "is_signoff_allowed": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          },
                          "assigned_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "assignee_email": {
                            "type": "string"
                          },
                          "assignee_full_name": {
                            "type": "string"
                          },
                          "requested_by_full_name": {
                            "type": "string"
                          },
                          "requested_by": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "approval_date": {
                            "type": "string"
                          },
                          "approver_name": {
                            "type": "string"
                          },
                          "request_closed_by": {
                            "type": "string"
                          },
                          "sla_days": {
                            "type": "integer"
                          },
                          "re_credentialing_date": {
                            "type": "string"
                          },
                          "reason_for_termination": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-certifications/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a new certification record for a provider",
        "description": "Creates a new certification record for a provider with the specified details.",
        "operationId": "createProviderCertification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "speciality": {
                    "type": "string",
                    "enum": [
                      "Allergy & Immunology (207K00000X)",
                      "Anesthesiology (207L00000X)",
                      "Cardiovascular Disease (207RC0000X)",
                      "Dermatology (207N00000X)",
                      "Emergency Medicine (207P00000X)",
                      "Family Medicine (207Q00000X)",
                      "Internal Medicine (207R00000X)",
                      "Obstetrics & Gynecology (207V00000X)",
                      "Pediatrics (208000000X)",
                      "Psychiatry & Neurology, Neurology (2084N0400X)",
                      "Psychiatry, Psychiatry (2084P0800X)",
                      "Surgery, General Surgery (208600000X)",
                      "Urology, Pediatric Urology (2088P0225X)"
                    ]
                  },
                  "certifying_board_name": {
                    "type": "string",
                    "enum": [
                      "American Board of Addiction Medicine",
                      "American Board of Allergy & Immunology",
                      "American Board of Anesthesiology",
                      "American Board of Dermatology",
                      "American Board of Emergency Medicine",
                      "American Board of Family Medicine",
                      "American Board of Internal Medicine",
                      "American Board of Obstetrics & Gynecology",
                      "American Board of Pediatrics",
                      "American Board of Psychiatry & Neurology",
                      "American Board of Radiology",
                      "American Board of Surgery",
                      "National Board of Physicians and Surgeons"
                    ]
                  },
                  "number": {
                    "type": "string"
                  },
                  "initial_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "speciality_level": {
                    "type": "string",
                    "description": "e.g. PRIMARY, SECONDARY, ADDITIONAL"
                  },
                  "document": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts"
                  },
                  "recertification_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "is_board_certified": {
                    "type": "boolean"
                  },
                  "not_board_certified_reason": {
                    "type": "string",
                    "description": "e.g. TAKEN_EXAM_RESULT_PENDING, TAKEN_PART_I_ELIGIBLE_FOR_PART_II, INTENDING_TO_SIT_IN_BOARDS, NOT_PLANNING_BOARDS"
                  },
                  "list_in_hmo_directory": {
                    "type": "boolean"
                  },
                  "list_in_ppo_directory": {
                    "type": "boolean"
                  },
                  "list_in_pos_directory": {
                    "type": "boolean"
                  },
                  "other_practice_interest_or_focus": {
                    "type": "string"
                  },
                  "board_exam_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certification record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "speciality": {
                      "type": "string"
                    },
                    "certifying_board_name": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "initial_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "speciality_level": {
                      "type": "string"
                    },
                    "document": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "recertification_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "is_board_certified": {
                      "type": "boolean"
                    },
                    "not_board_certified_reason": {
                      "type": "string"
                    },
                    "list_in_hmo_directory": {
                      "type": "boolean"
                    },
                    "list_in_ppo_directory": {
                      "type": "boolean"
                    },
                    "list_in_pos_directory": {
                      "type": "boolean"
                    },
                    "other_practice_interest_or_focus": {
                      "type": "string"
                    },
                    "board_exam_date": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider certifications.",
        "description": "Retrieves a paginated list of provider certification records.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Provider unique identifier (UUID). Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "speciality": {
                            "type": "string"
                          },
                          "certifying_board_name": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "initial_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "expiration_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "document": {
                            "type": "string"
                          },
                          "speciality_level": {
                            "type": "string"
                          },
                          "maintenance_of_certification": {
                            "type": "boolean"
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "recertification_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "is_board_certified": {
                            "type": "boolean"
                          },
                          "not_board_certified_reason": {
                            "type": "string"
                          },
                          "list_in_hmo_directory": {
                            "type": "boolean"
                          },
                          "list_in_ppo_directory": {
                            "type": "boolean"
                          },
                          "list_in_pos_directory": {
                            "type": "boolean"
                          },
                          "other_practice_interest_or_focus": {
                            "type": "string"
                          },
                          "board_exam_date": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-professional-ids-license/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a provider professional license.",
        "description": "Creates a professional license record for a provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "issue_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "license_type": {
                    "type": "string",
                    "enum": [
                      "AA",
                      "APN",
                      "CRNA",
                      "DC",
                      "DDS",
                      "DMD",
                      "DO",
                      "DPM",
                      "LCSW",
                      "Licensed Marriage and Family Therapist",
                      "LMHC",
                      "LP",
                      "LPC",
                      "MD",
                      "NP",
                      "OD",
                      "OT",
                      "PA",
                      "PHD",
                      "PSYD",
                      "PT",
                      "RD",
                      "RN",
                      "SLP"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts"
                  },
                  "override_licenses_status": {
                    "type": "string",
                    "enum": [
                      "PROBATION",
                      "SUSPENDED",
                      "INACTIVE",
                      "DECEASED",
                      "NOT_RENEWED",
                      "CANCELLED"
                    ]
                  },
                  "is_currently_practicing_in_state": {
                    "type": "boolean"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "state": "MD",
                    "number": "string",
                    "issue_date": "2025-11-28",
                    "expiration_date": "2025-11-28",
                    "license_type": "SLP",
                    "provider": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "override_licenses_status": "PROBATION",
                    "is_currently_practicing_in_state": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "issue_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "license_type": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "override_licenses_status": {
                      "type": "string"
                    },
                    "is_currently_practicing_in_state": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider professional IDs & licenses.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "professional_id_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "LICENSE"
              ]
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "state": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "issue_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "expiration_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "license_type": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "override_licenses_status": {
                            "type": "string"
                          },
                          "is_currently_practicing_in_state": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-professional-ids-dea/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a DEA professional ID record for a provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "examples": [
                      "MD"
                    ]
                  },
                  "number": {
                    "type": "string",
                    "examples": [
                      "AB1234567"
                    ]
                  },
                  "issue_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2025-11-28"
                    ]
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2025-11-28"
                    ]
                  },
                  "license_unlimited": {
                    "type": "boolean",
                    "examples": [
                      true
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "examples": [
                      "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DEA professional ID record created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "issue_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "license_unlimited": {
                      "type": "boolean"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider DEA professional ID records.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "professional_id_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DEA"
              ]
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of provider DEA professional ID records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "state": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "issue_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "expiration_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "license_unlimited": {
                            "type": "boolean"
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-professional-ids-cds/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a new CDS professional ID record for a provider.",
        "operationId": "createProviderCDSProfessionalId",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "examples": [
                      "MD"
                    ]
                  },
                  "number": {
                    "type": "string",
                    "examples": [
                      "AA123456"
                    ]
                  },
                  "issue_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2025-11-28"
                    ]
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2025-11-28"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "examples": [
                      "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    ]
                  },
                  "is_currently_practicing_in_state": {
                    "type": "boolean",
                    "examples": [
                      true
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CDS professional ID record created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "issue_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "is_currently_practicing_in_state": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider CDS professional ID records.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "professional_id_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CDS"
              ]
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of provider CDS professional ID records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "state": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "issue_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "expiration_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "is_currently_practicing_in_state": {
                            "type": "boolean"
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-professional-ids-medicaid/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a Medicaid professional ID record for a provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "examples": [
                      "MD"
                    ]
                  },
                  "number": {
                    "type": "string",
                    "examples": [
                      "MED1234567"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts",
                    "examples": [
                      "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Medicaid professional ID record created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider Medicaid professional ID records.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "professional_id_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "MEDICAID"
              ]
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of provider Medicaid professional ID records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "state": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/users/provider-professional-ids-medicare/": {
      "post": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Create a Medicare professional ID record for a provider.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "examples": [
                      "MD"
                    ]
                  },
                  "number": {
                    "type": "string",
                    "examples": [
                      "MED1234567"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts",
                    "examples": [
                      "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Medicare professional ID record created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "state": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Provider Profile"
        ],
        "summary": "Retrieve a paginated list of provider Medicare professional ID records.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "professional_id_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "MEDICARE"
              ]
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Get Provider ID \"provider_profile_id\" by retrieving a paginated list of provider accounts.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of provider Medicare professional ID records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "previous": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "results": {
                      "type": "array",
[...]
